# Create variable a = 15 b = 5 .perform and print all arithmetic operation

In [ ]:
a :int =15
b :int =5
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a//b=",a//b)
print("a%b=",a%b)
print("a**b=",a**b)

a+b= 20
a-b= 10
a*b= 75
a/b= 3.0
a//b= 3
a%b= 0
a**b= 759375

# Q.2 Use comparison operator to compare a and b and print result

In [ ]:
a :int =5
b :int =5
print("a==b=",a==b)
print("a!=b=",a!=b)
print("a>b=",a>b)
print("a<b=",a<b)
print("a>=b=",a>=b)
print("a<=b=",a<=b)

a==b= True
a!=b= False
a>b= False
a<b= False
a>=b= True
a<=b= True

## **Q.3 Create boolean variable x = True and y =False**

In [ ]:
x =True
y =False
print("x and y=",x and y)
print("x or y=",x or y)
print("not x=",not x)
print("not y=",not y)

x and y= False
x or y= True
not x= False
not y= True

## **Q.4 Use assigment operator on a variable and print result .**

In [ ]:
x = 4
print("x =",x)
x += 4
print("x +=",x)
x -= 4
print("x -=",x)
x *= 4
print("x *=",x)
x /= 4
print("x /=",x)
x //=4
print("x//=",x)

x = 4
x += 8
x -= 4
x *= 16
x /= 4.0
x//= 1.0

# **Q.5 Use is and is not operators with two equal values**

In [ ]:
a =100
b =100
print(a is b)
print(a is not b)

True
False

# **Q.6 Check the presence of words using in and not in operator in a string**

In [ ]:
sentence ="i love cricket team"
#in
print("cricket" in sentence)
print("python" in sentence)
#not in
print("love" not in sentence)
print("hat" not in sentence)

True
False
False
True

# Q**.7** Import the keyword module and print all python keyword

In [ ]:
import keyword
print("the keyword list is:")
print (keyword.kwlist)

the keyword list is:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Q.8 Declare variables name,age,height and print their values with type.**bold text**

In [ ]:
name = "abdul_mohid"
age =17
height =5.5
print("value of name:",name, type(name))
print("value of age:",age, type(age))
print("value of height:",height,type(height))

value of name: abdul_mohid <class 'str'>
value of age: 17 <class 'int'>
value of height: 5.5 <class 'float'>

# **Q.9 Write 5 valid and 3 invalid variable name**.

In [ ]:
"valid variables"

student_name ="abdul_mohid"
age = 17
height=5.5
total_marks =89
is_enrolled= True


"invalid variables"

#1student = "ahsan"       # invalid: cannot start with a number
#total-marks= 456         # invalid: hyphen are not allowed
#class = 10th             # invalid: class is a reserved word

'invalid variables'

# Q.10 Assign multiple values in one line.

In [ ]:
x,y,z =1,2.3, "pakistan"
print("x=",x ,type(x),id(x))
print("y=",y ,type(y),id(y))
print("z=",z ,type(z),id(z))

x= 1 <class 'int'> 10757736
y= 2.3 <class 'float'> 134161248354032
z= pakistan <class 'str'> 134161275247536