# Q.1 **Create** a variable with your name and print each character using a loop.

In [ ]:
name = "mohid"
for char in name:
 print(char)

m
o
h
i
d

# Q.2 **Use** slicing to print the first 4 characters of a string.

In [ ]:
my_string = "hello pakistan"
print(my_string[0:4])

hell

# Q.3 Ask the user to input a number as a string, convert it to int, add 10, and print the result

In [ ]:
user_input = input("Enter a number: ")
number = int(user_input)
result = number + 10
print("The result after adding 10 is:", result)

Enter a number: 70
The result after adding 10 is: 80

# Q.4 Create a list of string numbers like ["10", "20", "30"], convert to int, and print updated list.

In [ ]:
string_number = ["80", "90", "100"]
converted_number = [int(num)for num in string_number]
print(converted_number)

[80, 90, 100]

# Q.5 Check if "Python" is in a string using in and print a message

In [ ]:
my_string = "python is an easy language"
if "python" in my_string:
 print("yes python in my_string")
else:
 print("python not in my_string")

yes python in my_string

# Q.6 Create a string, convert it to uppercase, lowercase, and title case.

In [ ]:
my_string= "stairs vs chairs"
print(my_string.upper())
print(my_string.lower())

STAIRS VS CHAIRS
stairs vs chairs

# Q.7 Use type() to display data types before and after casting from string to integer.

In [ ]:
my_string = "123456789"
print("Before casting:",type(my_string))
converted_integer = int(my_string)
print("After casting:", type(converted_integer))

Before casting: <class 'str'>
After casting: <class 'int'>

# Q.8 Take user input for name and age. Check if age (casted to int) is above 18 and print eligibility.

In [ ]:
name = input("Enter your name:", )
age= input("Enteryour age:",)
age = (int(age))
if age >18:
 print("welcome to this journey", "you are eligible for this program")
else:
 print("sorry to this journey","you are not eligiablefor this program" )

Enter your name:mohid
Enteryour age:78
welcome to this journey you are eligible for this program

# Q.9 Create a variable with mixed-case text. Check if the text is uppercase and print results.

In [ ]:
my_variable = "chair7899"
if my_variable.isupper:
 print("your_variable is in uppercase")
else:
  print("your variable is in not uppercase")

your_variable is in uppercase

# Q.10 **Create** a string with numbers, convert it to float and int, and print all conversions with their types.

In [ ]:
my_string = "2007"
converted_float = float(my_string)
converted_int = int(converted_float)
print("Original string:", my_string, " type:", type(my_string))
print("as float:", converted_float, " type:", type(converted_float))
print("as int:", converted_int, " type:", type(converted_int))

Original string: 2007  type: <class 'str'>
as float: 2007.0  type: <class 'float'>
as int: 2007  type: <class 'int'>