# Q 1 Write a program to check if a number is positive, negative, or zero

In [ ]:
num = 8
if num >4:
  print("the number is psitive")
elif num <4:
    print("the number is negative")
else:
 print("the number is zero")

the number is psitive

# Q 2 Input a number and print whether it is even or odd

In [ ]:
 num = 56
 if num == 67:
  print("number is odd")
 else:
     print("number is even")

number is even

# Q 3 Ask age and print if person is eligible to vote

In [ ]:
my_age = 17
if my_age<20:
  print("i am eligible to vote")
else:
  print('i am not eligible to vote')

i am eligible to vote

# Q 4 Check if a number is divisible by 3, 5, or both

In [ ]:
num = 9
if num %3==0 and num % 5== 0:
  print("num is divisible by both")
elif num %3==0:
 print("num is divisible by 3")
elif num%5==0:
 print("num is divisible by 5")
else:
  print("num is not  divisible by both")

num is divisible by 3

# Q 5 Input marks and print grade using if-elif-else

In [ ]:
marks = 97
if marks>90:
  print("grade A+")
elif marks <90:
    print("grade A")
else:
      print("pass")

grade A+

# Q 6 Print numbers from 1 to 10 using a loop

In [ ]:

for i in range (11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

# Q 7 Print the multiplication table of 6

In [ ]:
for i in range(1,11):
  print(f"6*{i}= {6*i}")

6*1= 6
6*2= 12
6*3= 18
6*4= 24
6*5= 30
6*6= 36
6*7= 42
6*8= 48
6*9= 54
6*10= 60

# Q 8 Use a loop to print all even numbers between 1 and 20

In [ ]:
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

# Q 9Ask for a word and print each letter on a new line

In [ ]:
word = ("A,B,C")
for letter in word:
 print(letter)

A
,
B
,
C

# Q 10 Count how many vowels are in the word â€œeducation

In [ ]:
word=("education")
if "a,e,i,o,u"in word:
  print("word")
else:
  print("5")

5